

  /*  font-family: "Niva-Bold", sans-serif;*/
  /*---------------fonts hosting------------------*/
  @font-face {
    font-family: "OpenSans";
    src: url("openSans.ttf");
        
    font-weight: 700;
    font-style: normal;
}

  @font-face {
    font-family: "skratch";
    src: url("skratch.ttf");
        
    
    font-style: normal;
}
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    background-color: darkslategrey;
  }
  body{
    box-sizing: border-box;
width: 94.65592972%;
margin-left: 2.269399707% ;
margin-right: 2.049780381% ;
background-color: white;

  }
  #keffer{
   
    width: 53%;
    /*height:20%;*/
     flex: 0 0 auto;
    
}   
 
  #keffer img{
    width: 100%;
    /*height: 100%;
    object-fit: cover;*/
    height: auto;
  }
  
  .ouroffice{
    padding:1.3% 3%;
        letter-spacing: 0.06em;
    
  }
   #ourofic {
    font-family: "OpenSans", sans-serif;
    font-size: 150%;
    letter-spacing: 0.11em;
    color: rgb(168, 17, 17);
    
    text-decoration: underline;
    text-decoration-color: darkslategray;       /* change color */
    text-decoration-thickness: 3px;   /* thickness of line */
    text-underline-offset: 40%;       /* space from text */


        -webkit-text-stroke: 0.03em;
    letter-spacing: 0.135em;
}
    header{
        display: flex;
      /*  gap:12%;*/
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: -1%;
      
        
    }
 
 #numb {
    font-family: helvetica, sans-serif;
    font-size: 295%;
    /* color: rgba(0, 0, 0, 0.85); */
    /* letter-spacing: 0.08em; */
    /* -webkit-text-stroke: 0.02em; */

    font-weight: 800;
    margin-top: -0.5%;
    letter-spacing: 0.04em
}


  .ouroffice p {
    font-family: "OpenSans", sans-serif;
    font-size: 120%;
    margin-top: -2.2%;
    /* line-height: 1.6; */
    letter-spacing: 0.06em;
}